*{
    text-align:center;
    font-family:league spartan;
    font-family:Georgia;
}

    

h1{
    color:#a52a2a;;
    letter-spacing:2px;
    font-size:55px;
    line-height:1.5;
    text-decoration:rgb(69, 121, 138) double underline;
    font-weight:900;

}

body{
    background-color:wheat; 
}

h2{ 
    font-size:32px;
    font-weight:bold;
    font-family:league spartan;
    text-decoration:underline;
    color:darkslategray;
}

h3{
    color:sienna;
}

section{
    letter-spacing:2px;
    line-height:28px;
}


.main{
    color:firebrick;
}

p{
    color:indigo;    
}

button:hover{
    background-color: lightskyblue;
}


.main{
    text-align:left;
}


a:hover{
    color:black;
    
}

#teli{
    border: 2px solid beige;
    box-shadow: 2px 2px 10px white;
    border-radius: 20px;
}

#teli:hover{
    box-shadow: 10px 10px 100px whitesmoke;
}

.logo:hover{
    box-shadow: 10px 10px 100px firebrick;
}

.smalllogo{
    box-shadow: 10px 10px 100px firebrick;
}